body{
    background-color:cadetblue;
}
.header{
    display: flex;
    background-color: black;
}

h1{
    color: chocolate;
    text-align: center;
}

#p1{
    font-size: 1.3rem;
    color:darkred;
}

#img1{
    float:right ;
    width:14rem;
    margin-left:0.1rem;
}

#mylogo{
    width: 5rem;
    height: 6.5rem;
    border-radius: 2rem;
    padding: 0.5rem;
}

.footer{
    background-color: black;
    color: chocolate;
    text-align: center;
    border-radius: 1rem;
}

.footer a{
    color: chocolate;
    
}

.legend{
    text-align: center;
}

#button{
    font-size: 1.2rem;
    border-radius: 1rem;
    background-color: aqua;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media only screen and (min-width:768px) {
    .header{
        justify-content:space-between ;
    }
    
    h1{
        padding: 1rem;
        padding-left: 15rem;
    }

    #img1{
        float: right;
        width: 35rem;
        height: 24.5rem;
        height: 24.5rem;
        border: 1px solid;
        /* margin-left:12rem; */
    }
    
    #para{
        font-size: large;
    }

    #p1{
        font-size: 1.6rem;
    }

    .legend{
        font-size: 1.2rem;
    }

    .input{
        /* width:3rem; */
        height:1.2rem;
    }
}